<%- include('../partials/header'); -%>

<div class="" style="background-color: #0f415c;">
  <div class="container-fluid" style="padding: 2%; ">
    <form class="" action="/reviews_search" method="post">
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-5">
          <input class="form-control" type="text" name="review_title" placeholder="Filter meal reviews">
        </div>
        <div class="col-1">
          <input class="btn btn-light" type="submit" name="Submit" value="Filter"/>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="center">
    <%
    if(items) {
      var review_card = '<br><div class="container"><table class="table-bordered" class="center" id="reviews_table"><tr><th class="col-sm-2">Meal</th><th class="col-sm-4">Review</th><th class="col-sm-1">Review Date</th></tr>';

      for(var i=0; i < items.length; i++) {

        review_card += '<tr><td class="col-sm-2">' + items[i].meal_name + '</td><td class="col-sm-4">' + items[i].review + '</td><td class="col-sm-1">' + items[i].left + '</td></tr>';

      }

      review_card += '</table></div>';

      %>
        <%- review_card %>
      <% } %>
</div>
<%- include('../partials/footer'); -%>
